.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

.overlay.show {
    display: block;
}

.container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 405px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-lightest);
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.container.open {
    right: 0;
}

.close-cart-button {
    position: absolute;
    top: 20px;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.context {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    color: var(--azul-universe-darkest);
    font-size: var(--unnamed-font-size-18);
    letter-spacing: var(--unnamed-character-spacing-0-9);
    line-height: var(--unnamed-line-spacing-22);
    margin-top: 1.125rem;
    margin-left: 1.25rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    margin-top: 2rem;
    list-style: none;
    overflow-y: auto;
    padding: 0 1.25rem;
}

.item {
    display: flex;
    align-items: center;
    width: 349px;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--neutral-light);
}

.item img {
    margin-right: 1rem;
}

.product-main {
    display: flex;
    align-items: center;
}

.name {
    width: 190px;
    margin: 0.125rem;
    color: var(--azul-universe-darkest);
    font-size: var(--unnamed-font-size-14);
    letter-spacing: var(--unnamed-character-spacing-0-7);
    line-height: 16px;
}

.size {
    color: var(--azul-universe-darkest);
    font-size: var(--unnamed-font-size-12);
    letter-spacing: var(--unnamed-character-spacing-0-6);
    line-height: var(--unnamed-line-spacing-14);
}

.trash-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1.75rem;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    height: 2rem;
    padding: 0 0.75rem;
    border: 1px solid var(--azul-universe-light);
    border-radius: 20px;
}

.remove-button,
.add-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--rosa-2b-dark);
    transition: transform 0.2s ease;
}

.remove-button:hover,
.add-button:hover {
    transform: scale(1.2);
}

.quantity span {
    font-size: var(--unnamed-font-size-14);
    color: var(--azul-universe-darkest);
    font-weight: var(--unnamed-font-weight-bold);
    line-height: 17px;
}

.prices-box {
    display: flex;
    flex-direction: column;
}

.old-price {
    font-size: var(--unnamed-font-size-12);
    letter-spacing: var(--unnamed-character-spacing-0-6);
    line-height: var(--unnamed-line-spacing-14);
    color: var(--azul-universe-dark);
    text-align: center;
    text-decoration: line-through;
}

.price {
    font-size: var(--unnamed-font-size-14);
    letter-spacing: var(--unnamed-character-spacing-0-7);
    line-height: var(--unnamed-line-spacing-21);
    font-weight: var(--unnamed-font-weight-bold);
    color: var(--azul-universe-darkest);
    text-align: center;
}

.cart-footer {
    margin-top: auto;
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--neutral-lightest);
    border-top: 1px solid var(--neutral-medium);
}

.sub-total {
    display: flex;
    justify-content: space-between;
    width: 325px;
    margin-top: 1rem;
}

.sub-total span {
    font-size: var(--unnamed-font-size-14);
    letter-spacing: var(--unnamed-character-spacing-0-7);
    line-height: var(--unnamed-line-spacing-21);
    color: var(--azul-universe-darkest);
}

.sub-total-price {
    font-size: var(--unnamed-font-size-14);
    letter-spacing: var(--unnamed-character-spacing-0-7);
    line-height: var(--unnamed-line-spacing-21);
    font-weight: var(--unnamed-font-weight-bold);
    color: var(--azul-universe-darkest);
}

.checkout-button {
    width: 325px;
    height: 40px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.8125rem 0;
    background-color: var(--rosa-2b-dark);
    color: var(--rosa-2b-lightest);
    font-size: var(--unnamed-font-size-12);
    letter-spacing: var(--unnamed-character-spacing-1-08);
    line-height: var(--unnamed-line-spacing-14);
    font-weight: var(--unnamed-font-weight-bold);
    text-transform: var(--unnamed-text-transform-uppercase);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.checkout-button:hover {
    filter: brightness(0.85);
}