.container {
    max-width: 275px;
    width: 100%;
    height: max-content;
    padding-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.container:hover {
    background-color: var(--rosa-2b-lightest);
    border-radius: 24px;
}

.image {
    transition: all 0.3s ease;
}

.container:hover .image {
    transform: scale(0.85);
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    font-weight: 800;
    position: absolute;
    top: 5px;
}

.sizes {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.sizes li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--unnamed-font-size-12);
    font-weight: var(--unnamed-font-weight-bold);
    color: var(--rosa-2b-dark);
    background-color: var(--neutral-lightest);
    border: 1px solid var(--rosa-2b-light);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.sizes li:hover {
    border: 1px solid var(--rosa-2b-dark);
}

.container:hover .sizes {
    opacity: 1;
    visibility: visible;
}

.title {
    font-size: var(--unnamed-font-size-14);
    font-weight: var(--unnamed-font-weight-normal);
    letter-spacing: var(--unnamed-character-spacing-0-7);
    line-height: 1rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.625rem;
}

.price-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
}

.old-price {
    font-size: var(--unnamed-font-size-12);
    color: var(--azul-universe-dark);
    text-decoration: line-through;
    letter-spacing: var(--unnamed-character-spacing-0-6);
    line-height: 14px;
}

.price {
    font-size: var(--unnamed-font-size-16);
    font-weight: var(--unnamed-font-weight-bold);
    color: var(--azul-universe-dark);
}

.installments {
    font-size: var(--unnamed-font-size-12);
    color: var(--azul-universe-darkest);
    line-height: 14px;
}

.installments span {
    color: var(--rosa-2b-dark);
    font-weight: var(--unnamed-font-weight-bold);
}

.buy-box {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.container:hover .buy-box {
    opacity: 1;
    visibility: visible;
}

.buy-button {
    margin-top: 1rem;
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    color: var(--neutral-lightest);
    letter-spacing: var(--unnamed-character-spacing-0-6);
    font-size: var(--unnamed-font-size-12);
    background-color: var(--rosa-2b-dark);
    border: none;
    border-radius: 24px;
    text-transform: var(--unnamed-text-transform-uppercase);
    cursor: pointer;
}