.container {
    width: 100%;
    height: 160px;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azul-universe-lightest);
}

.agency {
    margin-bottom: 0.625rem;
    font-size: var(--unnamed-font-size-12);
    font-weight: 600;
    line-height: 14px;
    letter-spacing: var(--unnamed-character-spacing-0-6);
    text-transform: var(--unnamed-text-transform-uppercase);
    color: var(--azul-universe-darkest);
}

.address,
.about {
    font-size: var(--unnamed-font-size-12);
    font-weight: 500;
    color: var(--azul-universe-darkest);
    letter-spacing: var(--unnamed-character-spacing-0-6);
    line-height: 14px;
}

.address {
    margin-bottom: 0.25rem;
}